.main {
    padding: 20px;
}

.main__header {
    margin-bottom: 20px;
}

.preview-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.main__preview {
    max-width: 1280px;
    max-height: 720px;
}

.camera__preview {
    width: 320px;
    height: 240px;
    border: 1px solid #ccc;
}

#custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center; /* Центр по вертикали */
    justify-content: center; /* Центр по горизонтали */
    z-index: 1000;
}

#custom-modal {
    background: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
}

#custom-modal h2 {
    margin-top: 0;
}

#custom-modal p {
    margin: 10px 0;
}

#modal-close-btn {
    margin-top: 15px;
    background: #007BFF;
    color: #ffffff !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

#modal-close-btn:hover {
    background: #0056b3;
}


.preview-label {
    font-size: 18px;
    font-weight: 500;
}

.preview-toggle-block {
    margin-bottom: 20px;
}

#preview-toggle-btn {
    width: 140px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

#preview-toggle-btn.enabled {
    background-color: #28a745;
    color: white;
}

#preview-toggle-btn.enabled:hover {
    background-color: #218838;
}

#preview-toggle-btn.disabled {
    background-color: #dc3545;
    color: white;
}

#preview-toggle-btn.disabled:hover {
    background-color: #c82333;
}

#preview-toggle-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}