.page {
    width: 390px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    border: thick double #000000;
    background-color: #faeedd;
}

.page__title {
    margin: 1px 0 1px;
    font-size: 18px;
    text-align: center;
}

label {
    margin: 2px 0 0 0;
    font-size: 13px;
}

.user-inputs {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 6px;
    width: 90%;
}

.user-inputs__input {
    padding: 6px;
    font-size: 13px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    transition: all 0.3s ease;
}

.user-inputs__label {
    font-size: 13px;
    margin-bottom: 1px;
    font-weight: bold;
}

/* Валидное поле */
.input-valid {
    border-color: #28a745 !important;
    background-color: rgba(40, 167, 69, 0.1);
    box-shadow: inset 0 0 4px rgba(40, 167, 69, 0.4);
}

/* Невалидное поле */
.input-invalid {
    border-color: #dc3545 !important;
    background-color: rgba(220, 53, 69, 0.1);
    box-shadow: inset 0 0 4px rgba(220, 53, 69, 0.4);
}

/* Фокусное состояние */
.user-inputs__input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(100, 100, 255, 0.3);
}

/* Фокус + валидность */
.input-valid:focus {
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.7);
}

/* Фокус + невалидность */
.input-invalid:focus {
    box-shadow: 0 0 8px rgba(220, 53, 69, 0.7);
}

.message, .message-error {
    font-size: 12px;
    margin-top: -4px;
}

.message-error {
    color: #dc3545;
}

.no-patronymic-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.no-patronymic-checkbox {
    width: 12px;
    height: 12px;
    cursor: pointer;
    appearance: none;
    border: 1px solid #333;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.no-patronymic-checkbox:checked::before {
    content: '✔';
    font-size: 12px;
    color: black;
    position: absolute;
}

.no-patronymic-checkbox:hover {
    outline: none;
    box-shadow: 0 0 8px rgba(100, 100, 255, 0.3);
}

.no-patronymic-text {
    font-size: 13px;
    user-select: none;
    cursor: default;
}

.record-section {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
    width: 90%;
}

.record-section__button {
    flex: 1;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.05s;
    color: black;
    width: 170px;
}

.record-section__button_inactive {
    background-color: #696564;
}

.record-section__button_inprogress {
    background-color: #e3d45f;
}

.record-section__button_active_permissions {
    background-color: #2cbdde;
}

.record-section__button_active_start {
    background-color: #42db5b;
}

.record-section__button_active_stop {
    background-color: #bf2e2e;
}

.record-section__button_active_upload {
    background-color: #c636d9;
}

.record-section__button_active_permissions:hover {
    background-color: #229bb3;
}

.record-section__button_active_start:hover {
    background-color: #35b949;
}

.record-section__button_active_stop:hover {
    background-color: #991f1f;
}

.record-section__button_active_upload:hover {
    background-color: #9a27a8;
}

.record-section__button:active {
    transform: scale(0.98);
}

.record-section__button:disabled {
    opacity: 0.6;
    color: #000;
    cursor: not-allowed;
}

.output-video {
    margin: 0;
    box-sizing: content-box;
}

.stats-section {
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 10px;
    align-self: flex-start;
    padding-left: 5%;
}

.stats-section p {
    font-size: 12px;
    color: #000;
    margin: 1px 0;
}

.stats-section strong {
    font-weight: bold;
}

.stats-section span {
    color: #000;
}

#permissions-status,
#start-date,
#record-time {
    font-weight: normal;
    color: #000;
}