.page {
    width: 500px;
    height: 440px;
    padding: 10px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

label{
    margin-top: 5px;
    margin-bottom: -10px;
    font-size: medium;
}
.page__title {
    margin: 0 0 10px;
    font-size: 20px;
    text-align: center;
}

.user-inputs {
    margin-bottom: 10px;
}

.user-inputs--fio {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.user-inputs--group {
    display: flex;
    flex-direction: row;
}

.user-inputs__input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.user-inputs--fio .user-inputs__input {
    flex: 1;
}

.user-inputs--group .user-inputs__input {
    width: 100%;
}

.user-inputs__input--standalone {
    width: 100%;
    margin-bottom: 10px;
}

.record-section {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.record-section__button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width:180px;
}

.record-section__button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.record-section__upload-info {
    font-size: 12px;
}

.output-video {
    margin: 0;
    box-sizing: content-box;
}

.user-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.user-inputs input {
    padding: 8px;
    margin: 0;
}

